
#header {
 
color : whitesmoke;
background-color: black;
border: 2px solid rgb(252, 249, 249);
border-radius: 5px;
text-align: center;
}

#main {

    color: black;
    border-style:double;
    border-color: coral;
    background-color: lightblue;
    
    text-size-adjust: 50px;
    font-style:oblique;
}
#body{
    background-image: url("https://wallpaperaccess.com/full/1567831.jpg");
}
#header2 {
color: black;
text-align: center;
}
#list {
font-size: medium;
font-style:normal;
text-align: justify;
border-style: solid;
border-color: chartreuse;
background-color:wheat;
font-weight: bold;

background-image: url("https://img1.mashed.com/img/gallery/the-real-difference-between-regular-popcorn-and-movie-theater-popcorn/intro-1592507709.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  margin-right: 50px;
  background-attachment: scroll;
  
}
footer {

    position: fixed;
    border-block-start-color: white;
}

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }